@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Irish+Grover&family=Laila&display=swap');

body {
    background-color: #382660;
    position: relative;
    margin: 0;
    font-size: 16px;
}

.circle {
    position: absolute;
    left: -2em;
    top: -4.5em;
    width: 12em;
    height: 12em;
    background-color: #49386D;
    border-radius: 50%;
    z-index: -1;
}

.circle h1 {
    position: absolute;
    top: 3.5rem;
    left: 3.3rem;
    color: white;
    font-size: 2.7rem;
    font-weight: 100;
    font-family: 'Laila', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Laila', sans-serif;
    float: right;
    margin-left: 1.8rem;
    right: 1.8rem;
    font-size: 1.3rem;
    padding: 1.7rem 3rem 1.7rem 0rem;
    text-align: center;
    display: block;
}

.welcome {

    margin-top: 3em;
    margin-left: 1em;
    padding: 0rem 14rem;
    color: white;
    font-size: 2.8em;
    line-height: 1.4em;
    font-family: 'Irish Grover', cursive;
    text-align: left;
}

.welcome h1 {
    font-size: 6rem;
    margin-top: 2.3em;
    margin-left: 2em;
    line-height: 1rem;
    font-family: 'Henny Penny', cursive;

}



.lets {
    position: absolute;
    top: 23em;
    left: 40%;
    width: 15rem;
    height: 4rem;
    color: white;
    font-size: 1.9rem;
    font-family: 'Irish Grover', cursive;
    background-color: #49386D;
    border-radius: 1.3em;
    cursor: pointer;
    border-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;

}

.lets:hover {
    background-color: #5b3f97
}

.lets:active {
    background-color: #463270
}

img{
    position: absolute;
    top: 15%;
    left: 70%;
    z-index: -1;

}